.search-page {
  width: 100%;
  height: 100%;

  &__title {
    border: 2px solid black;
    width: 100%;
    padding: 8px 16px;
    border-bottom: none;
  }

  &__search-box {
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;

    &--open {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
    }
  }

  &__input-row {
    border: 2px solid black;
    height: 60px;
    padding: 4px 8px;
    display: flex;
    align-items: center;

    & > input {
      flex: 1;
      border-radius: 4px 0 0 4px;
      border-color: black;
      height: 40px;
      line-height: 24px;
      padding-left: 8px;

      &:focus {
        outline: 0;
        box-shadow: none;
      }
    }

    &__button {
      border: 2px solid black;
      height: 40px;
      line-height: 36px;
      margin: 0 4px;
      border-radius: 4px;
      padding: 0 2px;

      &--search {
        margin-left: 0;
        border-radius: 0 4px 4px 0;
        border-left: none;
      }
    }

    &__clean {
      height: 30px;
      width: 30px;
      line-height: 30px;
      text-align: center;
      font-size: 20px;
      margin-left: -30px;
    }
  }

  &__search-tabs {
    display: flex;
    border: 2px solid black;
    border-bottom: none;
    border-top: none;
    padding: 4px 0;

    &__tab {
      flex: 1;
      text-align: center;
      border: 2px solid black;
      padding: 4px auto;
      margin: 4px;
      border-radius: 4px;

      &--active {
        background-color: #bbb;
      }
    }
  }

  &__suggestion-wrapper {
    border: 2px solid black;
    height: 100%;
    padding: 16px;

    &__row {
      line-height: 28px;
      padding: 8px 0;
    }
  }

  &__content {
    margin: 8px;
    border: 2px solid black;
    padding: 8px;
    height: 100vh;
  }
}
