html,
body,
#root {
  margin: 0px;
  padding: 0px;
  font-family: Arial, "微軟正黑體", "Microsoft JhengHei", "DFKai-SB", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

input {
  font-family: Arial, "微軟正黑體", "Microsoft JhengHei", "DFKai-SB", sans-serif;
}

.hide {
  display: none;
}

::-webkit-scrollbar {
  width: 0px;
}

@import "./search-page";
